.content
    width: 100%
    display: flex
    flex-direction: column
    padding-top: 70px
    h1 
        font-size: 48px 
        font-family: Geometria-Medium
        line-height: 52px
        margin: 0 auto
        padding-bottom: 50px