.modal
    width: 400px
    height: 80px
    display: flex
    justify-content: center
    align-items: center
<<<<<<< HEAD
    z-index: 49
    @media screen and ( max-width: 410px )
        width: 100%

=======
    z-index: 1000
>>>>>>> fff08b89a1a6d26a2347c2b8039d12fcaf75bcff
    .modalInput
        border: none
        outline: none
        border-bottom: 1px solid rgba(0,0,0,0.5)
        height: 50%
        width: 90%
<<<<<<< HEAD
        @media screen and ( max-width: 410px )
            width: auto
        font-size: 18px
        z-index: 49
=======
        font-size: 18px
        z-index: 1000
        
>>>>>>> fff08b89a1a6d26a2347c2b8039d12fcaf75bcff
