.modal
    width: 400px
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    z-index: 5
    .modalInput
        border: none
        outline: none
        border-bottom: 1px solid rgba(0,0,0,0.5)
        height: 50%
        width: 90%
        font-size: 18px
        z-index: 5
        