.container
    display: flex
    flex-direction: column
    .title
        margin: 0 auto 41px auto
        font:
            size: 48px
            family: Geometria-Medium
        line-height: 52px
    .content
        background: white
        display: flex
        flex-direction: column
        .img
            background: linear-gradient(90deg, #F76C55 0%, #DD599D 51.56%, #C250CD 100%)
            border-radius: 30px
            padding: 40px 130px
            
    