.container
    width: 100%
    height: 70vh
    display: flex
    justify-content: center
    align-items: center
    font:
        size: 40px
        family: Geometria-Medium
    @media screen and ( max-width: 800px )
        font-size: 20px