.container
    font-family: Geometria
    background: white
    padding: 0 10px

.content
    max-width: 1150px
    max-height: 116px
    height: 116px
    display: flex
    margin: 0 auto
    justify-content: space-between
    align-items: center
    padding: 17px 0
    .logo
        margin: 20px

.actionsContainer
    width: 200px 
    padding-left: 50px
    line-height: 40px
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-top: 10px
    @media screen and ( max-width: 440px )
        padding-left: 0
    .searchAndLogin
        display: flex
        justify-content: space-between
        @media screen and ( max-width: 440px )
            justify-content: flex-end
        padding-left: 5px
        align-items: center

.navMobile
    display: none
    @media screen and ( max-width: 1170px )
        display: block
        