.container
    max-height: 300px

    background: white
    .containerContent
        max-width: 1170px
        margin: 0 auto
        padding: 40px 0
        height: 100%
        display: flex
        .contactsContainer
            div
                p
                    min-width: 278px
                    padding-right: 20px
                    font:
                        size: 14px
                        family: Geometria
                    line-height: 16px
                    color: rgba(0,0,0,0.5)
            .numInfo
                span
                    font:
                        size: 32px
                        family: Geometria-Medium
                    line-height: 40px
            .logoBox
                img
                    margin:
                        bottom: 30px
                        top: 55px
        .social
            div
                p
                    font:
                        size: 14px
                        family: Geometria
                    line-height: 16px
                    color: rgba(0,0,0,0.5)
            nav
                height: auto
                max-width: 850px
                div
                    a
                        margin-right: 15px
                        opacity: 100%
            .socialLinks
                display: flex
                justify-content: space-between
                margin: 30px 0
                div
                    img
                        cursor: pointer
                .download
                    img
                        margin-right: 10px
                .media
                    img
                        margin-left: 10px
                        border-radius: 8px