.container
    width: 880px
    
    .discountGroup,
    .bigPercentGroup,
    .profitCouponsGroup,
    .personalGroup
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

    .discountForBonuses,
    .personal
        width: 690px
        
        
    div
        width: 100%
        img
            height: 120px
            width: 120px