.item
    a
        
        text-decoration: none
        color: rgba(0,0,0,0.5)
        font:
            family: Geometria
            size: 18px
        @media screen and ( max-width: 1110px )
            font-size: 14px
        line-height: 40px

    a.active
        position: relative
        color: rgba(0,0,0,0.5)
        &::after
            content: ''
            width: 100%
            position: absolute
            height: 1px
            background: rgba(0,0,0,0.5)
            left: 0
            bottom: 0
    
.nav
    display: flex
    @media screen and ( max-width: 1170px )
        display: none
    flex-wrap: wrap
    font-size: 18px
    max-width: 700px
    align-items: flex-start
    height: 100%
    .item
        padding-right: 10px
        margin: 0



        
        
        
        
        
        