.container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    h2
        font:
            size: 32px
            family: Geometria-Medium
        line-height: 40px
        max-width: 715px
        margin-bottom: 20px
        text-align: center
    .offersList
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between

